/*
 * *= require_self
 * *= require_tree .
 */

body {
    background: rgba(138,181,229,1);
    background: -moz-linear-gradient(left, rgba(138,181,229,1) 0%, rgba(85,158,241,1) 27%, rgba(92,158,240,1) 57%, rgba(77,148,224,1) 78%, rgba(77,148,224,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(138,181,229,1)), color-stop(27%, rgba(85,158,241,1)), color-stop(57%, rgba(92,158,240,1)), color-stop(78%, rgba(77,148,224,1)), color-stop(100%, rgba(77,148,224,1)));
    background: -webkit-linear-gradient(left, rgba(138,181,229,1) 0%, rgba(85,158,241,1) 27%, rgba(92,158,240,1) 57%, rgba(77,148,224,1) 78%, rgba(77,148,224,1) 100%);
    background: -o-linear-gradient(left, rgba(138,181,229,1) 0%, rgba(85,158,241,1) 27%, rgba(92,158,240,1) 57%, rgba(77,148,224,1) 78%, rgba(77,148,224,1) 100%);
    background: -ms-linear-gradient(left, rgba(138,181,229,1) 0%, rgba(85,158,241,1) 27%, rgba(92,158,240,1) 57%, rgba(77,148,224,1) 78%, rgba(77,148,224,1) 100%);
    background: linear-gradient(to right, rgba(138,181,229,1) 0%, rgba(85,158,241,1) 27%, rgba(92,158,240,1) 57%, rgba(77,148,224,1) 78%, rgba(77,148,224,1) 100%);
}

html {

}
