// Place all the styles related to the todo controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com

div#todoarea {

}

div#menu { 
    position: fixed; 
    bottom: 30px;
    right: 30px;
}

div#menu .field {
	width: 300px; 
    background: #EC6603; 
    color: #fff; 
    padding: 5px; 
    border: none; 
    cursor: pointer;
	font-family: 'lucida sans unicode',sans-serif; 
    font-size: 1em;
	border: solid 1px #EC6603;
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}

div#menu .field:hover {
	border: solid 1px #fff;
	-moz-box-shadow: 0 0 5px #999; 
    -webkit-box-shadow: 0 0 5px #999; 
    box-shadow: 0 0 5px #999
}

div#menu>ul.list { 
    display: none;
	position: absolute; 
    left: 30px; 
    bottom: 30px; 
    z-index: 999;
	width: 300px;
	margin: 0; 
    padding: 10px; 
    list-style: none;
	background: #fff; 
    color: #333;
	-moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
    border-radius: 5px;
	-moz-box-shadow: 0 0 5px #999; 
    -webkit-box-shadow: 0 0 5px #999; 
    box-shadow: 0 0 5px #999
}

div#menu>ul.list li {
	padding: 10px;
	border-bottom: solid 1px #ccc;
}

div#menu>ul.list li:hover {
	background: #EC6603; 
    color: #fff;
}

div#menu>ul.list li:last-child { 
    border: none 
}
