<li>
    <div class="todotitle">
        <span class="t_title">
            <%= @todo.name %>
        </span>
    </div>
    <%= if @todo.dueDate? %>
        <div class="tododue">
            <span class="t_due">
                <%= @todo.dueDate %>
            </span>
        </div>
    <% end %>
</li>
