<head>
    <% content_for :title, "ToDo List" %>
</head>
<body>
    <div id="Testaclese" style="visibility: hidden;">
        <span>
            ALIVE
        </span>
    </div>
    <div id="todoarea">

    </div>
    <div id="menu" class="editor">
        <input type="text" name="add" value="Edit" class="field" readonly="readonly" />
        <ul class="list">
            <li>
                <%= link_to 'New ToDo', 'todo#new', remote: true %>
            </li>
            <li>
                <%= link_to 'Delete Todo', 'todo#destroy', remote: true %>
            </li>
        </ul>
    </div>
</body>
