<head>
    <% content_for :title, "ToDo List" %>
</head>
<body>
    <div id="Testaclese" style="visibility: hidden;">
        <span>
            ALIVE
        </span>
    </div>
    <div id="todoarea">

    </div>
    <div id="menu">

    </div>
</body>
