<head>
    <% content_for :title, "ToDo List" %>
</head>
<body>
    <div id="Testaclese" style="visibility: hidden;">
        <span>
            DONE
        </span>
    </div>
    <div id="todoarea">

    </div>
    <div id="menu" class="editor">
        <input type="text" name="adder" value="New" class="field" readonly="readonly" />
    </div>
    <div id="formarea">
    </div>
</body>
